/* Preloader Styles */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Background color of the preloader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it stays on top of everything */
  }
  
  .preloader-content {
    text-align: center;
  }
  
  .preloader-logo {
    width: 100px; /* Adjust size as needed */
    margin-bottom: 20px;
  }
  
  .line-loader {
    width: 80px;
    height: 5px;
    background: #275571; /* Color of the line loader */
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .line-loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #15939A; /* Color of the moving part of the loader */
    animation: loading 0.5s infinite;
  }
  
  @keyframes loading {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  