.reset-password-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top:100px;
}

.reset-password-container h1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.instructions {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 20px;
}

.message {
  font-size: 14px;
  color: #ffc107;
  margin-bottom: 15px;
}
.reset-form{
  /* Add border to the form */
  padding: 20px;
  border-radius: 6px;
  background-color: white; 
}
/* Custom styles for labels */
.reset-label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333; /* Label text color */
  text-align: left;
  font-weight: bold;
}


.password-wrapper {
  position: relative;
}

.reset-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  background-color: #fff; /* Ensure background is white */
  color: #000; /* Text color */
  transition: border-color 0.3s, box-shadow 0.3s;
}

.reset-input:focus {
  border-color: #ffc107;
  box-shadow: 0 0 5px #ffc107;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

.reset-password-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.reset-password-button:hover {
  background-color: #0056b3;
}

.back-to-login {
  display: inline-block;
  margin-top: 20px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.back-to-login:hover {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .reset-password-container {
    margin-top: 80px; /* Further reduced top margin */
    padding: 10px; /* Compact padding */
    width:80%;
  }

  .reset-password-container h1 {
    font-size: 18px; /* Adjusted heading size for very small screens */
  }

  .instructions {
    font-size: 11px; /* Smaller instructions text */
  }

  .reset-input {
    font-size: 12px; /* Further reduced input text size */
    padding: 6px; /* Compact padding for smaller screens */
  }

  .reset-password-button {
    font-size: 12px; /* Smaller button text */
    padding: 6px 8px; /* Compact button padding */
  }

  .back-to-login {
    font-size: 11px; /* Smaller link text */
  }
}