.forgot-password-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  margin-top:100px;
}

.forgot-password-container h1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.instructions {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #fff;
  text-align: left;
}

input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

input[type="email"]:focus {
  border-color: #ffc107;
  box-shadow: 0 0 5px #ffc107;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.submit-button:hover {
  background-color: #0056b3;
}

.message {
  color: #ffc107;
  margin-bottom: 15px;
}

.back-to-login {
  display: inline-block;
  margin-top: 20px;
  color: #000;
  text-decoration: none;
}

.back-to-login:hover {
  text-decoration: underline;
}
